<div class="services">
         <div class="container">
          <h3 class="m_1">The Web Design  Services In Step Wise ..</h3>
       	  <div class="service_top">
       	    <div class="col-md-4">
       		  <ul class="service_box">
       		  	<li class="service_box-left">
       		  		<span class="num">1.</span>
       		  	</li>
       		  	<li class="service_box-right">
       		  		<h3><a href="#">Consultation & Conceptulization</a></h3>
       		  		<p>To initiate is to talk. We listen to your ideas; we suggest refines or alternatives if possible. We say we will do it.</p>
       		  	</li>
       		  	<div class="clearfix"> </div>
       		  </ul>
       		</div>
       		<div class="col-md-4">
       		  <ul class="service_box">
       		  	<li class="service_box-left">
       		  		<span class="num">2.</span>
       		  	</li>
       		  	<li class="service_box-right">
       		  		<h3><a href="#">Domain & Hosting</a></h3>
       		  		<p>Once confirmed, we buy domain and hosting, we put a welcome page to show that website is soon to come. And here we initiate the actual work of development. Keep patience while we develop.</p>
       		  	</li>
       		  	<div class="clearfix"> </div>
       		  </ul>
       		</div>
       		<div class="col-md-4">
       		  <ul class="service_box">
       		  	<li class="service_box-left">
       		  		<span class="num">3.</span>
       		  	</li>
       		  	<li class="service_box-right">
       		  		<h3><a href="#">Design & Develop</a></h3>
       		  		<p>We work, on the basis of requirement given by you. We work on the project only after proper documentation is ready. We work with passion. Thank you for the patience.</p>
       		  	</li>
       		  	<div class="clearfix"> </div>
       		  </ul>
       		</div>
       		<div class="clearfix"> </div>
       	   </div>
       	   <div class="service_bottom">
       	    <div class="col-md-4">
       		  <ul class="service_box">
       		  	<li class="service_box-left">
       		  		<span class="num">4.</span>
       		  	</li>
       		  	<li class="service_box-right">
       		  		<h3><a href="#">Upload & review</a></h3>
       		  	    <p>Here comes your design online. We will need your feedback here. Give your best review, find mistakes, check your colour performance and let us know within a week. We solve all bugs of any.</p>
       		  	</li>
       		  	<div class="clearfix"> </div>
       		  </ul>
       		</div>
       		<div class="col-md-4">
       		  <ul class="service_box">
       		  	<li class="service_box-left">
       		  		<span class="num">5.</span>
       		  	</li>
       		  	<li class="service_box-right">
       		  		<h3><a href="#">Final & and Finishing</a></h3>
       		  		<p>After your review and our team’s finding, we work to give your project a final touch. We provide the best feel for your website and the delivery is confirmed here..</p>
       		  	</li>
       		  	<div class="clearfix"> </div>
       		  </ul>
       		</div>
       		<div class="col-md-4">
       		  <ul class="service_box">
       		  	<li class="service_box-left">
       		  		<span class="num">6.</span>
       		  	</li>
       		  	<li class="service_box-right">
       		  		<h3><a href="#">Maintainance & Update</a></h3>
       		  		<p>It is a year long process. We provide you free service for a year. We keep an eye on security of your website. We provide you regular and needed updates .Thank you for providing us a job.</p>
       		  	</li>
       		  	<div class="clearfix"> </div>
       		  </ul>
       		</div>
       	    <div class="clearfix"> </div>
       	   </div>
       	</div>
       </div>	
       <div class="services_overview">
        <div class="container">
       		<h3 class="m_1">Services Overview</h3>
       		<div class="col-md-4 service_grid">
       			<img src="images/good-domain-name.jpg" style="width:80%; height:40%" class="img-responsive" alt=""/>
       			<h4 style="color:brown">Buy best Domain then go to Hosting   </h4>
       			
       		</div>
       		<div class="col-md-4 service_grid">
       			<img src="images/2014-04-28-0c-studentsand.b6ffd.jpg" style="width:80%; height:40%" class="img-responsive" alt=""/>
       			<h4 style="color:brown">Keep Calm,Your work under construction</h4>
       			
       		</div>
       		<div class="col-md-4 service_grid">
       			<img src="images/testing_tools_selection.jpg" style="width:80%; height:40%" class="img-responsive" alt=""/>
       			<h4 style="color:brown">Your work is under Testing </h4>
       			
       		</div>
       	</div>
       </div> 		