<div class="container" >
<div class="career" >
<h1><b style="color:brown">Career</b></h1>
<br>
<hr>
<h2><b style="color:brown">Career in Takgi-Web</b></h2>
<h3>Why Takgi-Web?</h3>
<h4>This Organisation give a chance to build ENTREPRENEURSHIP.</h4>
<p>
Takgi-web is a professionally managed dynamic organization which invites talented individuals who can share in its growth. We appreciate talent and offer excellent opportunities for individual growth, learning and job satisfaction.</p>
<p>
It seeks to provide career opportunities to people with a genuine interest in Website Development ,SEO and UI&UX  . The recruitment policy is designed with the flexibility to meet the changing needs of our organization so that we can continuously attract the best talent. As part of the Takgi  family, you will find yourself having fun and sense of fulfillment while you carve your niche in an evolving career.
</p>
<b>Culture and Benefits:</b>
<p>
 We are firmly committed to building a professional organization that is a financially rewarding and fun place to work.

</p>
</div>

<div class="jobs" >
<h3>Latest Jobs & Internship:</h3>


<div class="col-md-6" >
<h3>Description</h3>
We are looking for PHP /C# /Ruby on Rails Developer  with Great knowledge & Skills of contemporary practices. If you wanna be a part of the dynamic, motivating, energetic and fun loving team of experts.

<h3>
Responsibilities :
</h3>
<p>
<li>
Develop, program, test and debug all web based applications.</li>
<li>Create, design, test and apply web-based applications.</li><li>
Create the right code structures to resolve specific tasks.</li><li>
Developing and programming interactive applications and websites.</li><li>
Identify bugs and fix them, trouble shoot and solve any related problems<li>
Participate in design and code reviews.</li>
</div>
<div class="col-md-6">
<h3>Technical Skills</h3>
<p>
<li>Basic Skills: PHP, MySQL, OOPS, AJAX, CSS, Java Script, jQuery. MySQL & OOPS,
Drupal, Joomla, WordPress.</li>
<li>
Should have strong experience with PHP, MySQL, WordPress, Joomla, Java Script.
</li><li>Confident, passionate and enthusiastic attitude.</li>
<li>
Advantage (+Points) – Magento/ CodeIgnitor/ cakePHP/ Zend.</li>
<h3>
Desired Candidate Profile :</h3>
<p>
<li>Hands-on experience on PHP/MySql</li>
<li>In-depth understanding of Magento/Joomla/Wp/Drupal</li>
<li>Enforcement of project deadlines & schedules</li>
<li>Interface btw business units, technlogy teams & support teams</li>
<li>Good analytical and problem-solving skills</li>
<li>Passionate about technology and finding out-of-the-box solutions</li>
<li>Go-getter attitude with zest to learn new technologies and systems</li><li>
Familiar with adobe photoshop, Dreamweaver, Coral draw.</li>
</p>
</div>
</div>
</div>