<!-- banner -->
       		<div class="banner">
       			<div class="banner-box">
       			<!----sreen-gallery-cursual---->
							 <!-- requried-jsfiles-for owl -->
							    <script src="js/owl.carousel.js"></script>
							        <script>
							    $(document).ready(function() {
							      $("#owl-demo").owlCarousel({
							        items : 1,
							        lazyLoad : true,
							        autoPlay : true,
							        navigation : true,
							        navigationText :  false,
							        pagination : false,
							      });
							    });
							    </script>
							 <!-- //requried-jsfiles-for owl -->
							 <!-- start content_slider -->
						       <div id="owl-demo" class="owl-carousel">
					                <div class="item">
					                	<div class="banner-info">
							       				<div class="b-info-left">
							       					<h1>Advanced Website</h1>
							       					
							       					<p>24x7 service available</p>
							       					<p>Full Root access</p>
							       					<p class="m_10"> </p>
							       				</div>
							       				<div class="b-info-right">
							       					<p>Call us: <span>+919431-00-6463</span></p>
							       					<p>E-mail us:<a href="#">takgi16@gmail.com</a></p>
							       					<a href="#" class="btn1 btn-8 btn-8c">Feel free to get in touch</a>
							       				</div>
							       				<div class="clearfix"> </div>
							       			</div>
					                </div>
					                <div class="item">
					                	<div class="banner-info">
							       				<div class="b-info-left">
							       					<h1>Improve your Page Rank</h1>
							       					<h2>At Reliable Cost</h2>
							       					
							       					<p class="m_10"> </p>
							       				</div>
							       				<div class="b-info-right">
							       					<p>Call us: <span>+919431-00-6463</span></p>
							       					<p>E-mail us:<a href="#">takgi16@gmail.com</a></p>
							       					<a href="#" class="btn1 btn-8 btn-8c">Feel free to get in touch</a>
							       				</div>
							       				<div class="clearfix"> </div>
							       			</div>
					                </div>
					                <div class="item">
					                	<div class="banner-info">
							       				<div class="b-info-left">
							       					<h1>Reliable Domain</h1>
							       					<h2>Starting from 99rs</h2>
							       					<p>Website including Wordpress,Magento, Drupal and Joomla</p>
							       					<p>Full Root access</p>
							       					
							       				</div>
							       				<div class="b-info-right">
							       					<p>Call us: <span>+919431-00-6463</span></p>
							       					<p>E-mail us:<a href="#">takgi16@gmail.com</a></p>
							       					<a href="#" class="btn1 btn-8 btn-8c">Feel free to get in touch</a>
							       				</div>
							       				<div class="clearfix"> </div>
							       			</div>
					                </div>
				              </div>
				             </div>
						<!--//sreen-gallery-cursual---->
						<div class="server-pic">
							<span> </span>
						</div>
       	     </div>
            