 <div class="bottom-grids">
	       <div class="container">
	       	 <div class="feature_grid">
		       <div class="col-md-6 bottom-grid">
		       	  <div class="feature">
	                   <i class="fa fa-shield"> </i>
	                  <h3>WHAT WE DO</h3>
	                    <p>
                        "If you need a full feature + latest Website Design for your Business at a Decent Cost, we have got the Perfect Solution for you.You can choose from more than 100+ Designs. Our Designs are unique, latest and trendy, Your Business website is sure to have an edge over the competition."
	                    </p>
	              </div>
		       	</div>
		        <div class="col-md-6 bottom-grid">
		       	  <div class="feature">
	                   <i class="fa fa-cloud-upload"> </i>
	                  <h3>WE  HELP <span class="m_1">these customers</span></h3>
	                    <p>
                          <li style="color:white">
                            Organisation | Company | NGO  
                            </li>
                            <li style="color:white">
                            Restaurents |Hotel | Hostel
                            </li>
	                        <li style="color:white">
                            University |College | School | Coaching  
                            </li>
                            <li style="color:white">
                            Travel Agency
                            </li>
                            <li style="color:white">
                             Personal Blog
                            </li>
                            
                          
	                    </p>
	              </div>
		       	</div>
		       <div class="clearfix"> </div>
		    </div>
		    <div class="feature_grid1">
		       <div class="col-md-6 bottom-grid">
		       	  <div class="feature">
	                   <i class="fa fa-globe"> </i>
	                  <h3>WHY CHOOSE US </h3>
	                    <p>
	                        Became a follow seven major service line.
	<li style="color:white">
User Friendly Maintenance
</li>
<li style="color:white">
	
Best Quality Content Management System
	</li>
    <li style="color:white">
Budget Friendly
	</li>
    <li style="color:white">
No Outsourcing
	</li>
    <li style="color:white">
Simple But Attractive
	</li>
    <li style="color:white">
India  Based Customer Support for FREE
	</li>
    <li style="color:white">
Onetime Payment and Transparency</li>
	                    </p>
	              </div>
		       	</div>
		        <div class="col-md-6 bottom-grid">
		       	  <div class="feature">
	                   <i class="fa fa-list-alt"> </i>
	                  <h3>We are waiting for <span class="m_1">your response</span></h3>
	                    <p>
	                       Your response is our asset.We always want to imrove our asset,then give me a chance to imrove our asset.
	                    </p>
	              </div>
		       	</div>
		       <div class="clearfix"> </div>
		    </div>
	       </div>
       </div>
       