 <div class="about">
          <div class="container">
        	 <div class="about_top">
	            <div class="col-md-8">
	        	  <ul class="user_head">
	        	  	<i class="fa fa-users"> </i>
	        	  	<li class="user_head-right">
	        	  		<h1>Who We are</h1>
	        	  	</li>
	        	  	<div class="clearfix"> </div>
	        	  </ul>
	        	  <div class="about_grid">
	        	  	<div class="col-md-12 about_grid-left">
	        	  		<img src="images/webdesigndev.jpg" class="img-responsive" style=" width:100%; height:35% " alt=""/>
	        	  	</div>
	        	  	<div class="col-md-7 about_grid-right">
                    
	        	  		<h3><a href="#" style="color:brown">we are ........ </a></h3>
	        	  		<p><li><b>Takgi web</b>  is a brand venture of  catering its services in the field of Information Technology.</li><li> <b>Takgi Web </b>has developed itself as a professional Web Design Company offering affordable and quality custom website design solutions in India.</li> </p>
	        	  	</div>
	        	  </div>
	        	</div>
	        	<div class="col-md-4 about_grid1">
	        	  <ul class="user_head">
	        	  	<i class="fa fa-trophy"> </i>
	        	  	<li class="user_head-right">
	        	  		<h2>Our Mission and Vision</h2>
	        	  	</li>
	        	  	<div class="clearfix"> </div>
	        	  </ul>
	        	  <h3><a href="#" style="color:brown">Our Mission</a></h3>
	        	  <p>   <li> Our Mission is to deliver best user experience and Quality projects using smarter Information technologies and resources available to our clients.”
    We are aware of new market trends and advances thus we make full use our resources and technological advancements to deliver best experience from beginning to end.</li><li>
    We are aware of our responsibility and your needs, and we appreciate the confidence of our clients have placed in us, so we keep our words and are appreciated by our clients in delivering quality of work implied on their websites or software applications.</li></p>
	        	  <div class="sm_hr"></div>
	        	   <h3><a href="#" style="color:brown">Our Vision</a></h3>
	        	  <p>   <li> Our Mission is to deliver best user experience and Quality projects using smarter Information technologies and resources available to our clients.”</li><li>
    We are aware of new market trends and advances thus we make full use our resources and technological advancements to deliver best experience from beginning to end.</li><li>
    We are aware of our responsibility and your needs, and we appreciate the confidence of our clients have placed in us, so we keep our words and are appreciated by our clients in delivering quality of work implied on their websites or software applications..</li></p>
	        	</div>
	        	<div class="clearfix"> </div>
	          </div>
	          <div class="about_bottom">
	          	<h2 class="m_7">Why Choose Us</h2>
	          	<div class="about_bottom-grid">
		          	<div class="col-md-4">
		          		<div class="well_desc" style="height:35%">
	                       <span class="dropcap">01</span> 
	                       <blockquote><p><span style="color:brown">Our Goal </span></p></blockquote>
	                       <p><li>Our Goal is to deliver ‘Quality’. We at Takgi Web Technologies consider Quality as our Prime focus in our work and we strive to achieve maximum customer satisfaction</li>
                           <li>
                           We believe in Quality not Quantity .. 
                           </li></p>
	                    </div>
		          	</div>
		          	<div class="col-md-4">
		          		<div class="well_desc" style="height:35%">
	                       <span class="dropcap">02</span> 
	                       <blockquote><p><span style="color:brown">Our Experience</span></p></blockquote>
	                       <p><li>
                           We employ the best technical resources and build our team with an eye toward excellence, collaboration and continuous improvement.  we strive for sustained results and client satisfaction. 
                           </li></p>
	                    </div>
		          	</div>
		          	<div class="col-md-4">
		          		<div class="well_desc" style="height:35%">
	                       <span class="dropcap">03</span> 
	                       <blockquote><p><span>Our Skill</span></p></blockquote>
	                       <p><li>Our effort is always do our  work with  advanced technology.</li>
                           <li>
                           If any customer have own choice then we give our technology on that work
                           </li>
                           
                           </p>
	                    </div>
		          	</div>
		          	<div class="clearfix"> </div>
	          	</div>
	          	
		          	<div class="clearfix"> </div>
	          	</div>
	          </div>
           </div>
        </div>