<div class="footer">
       		<div class="container">
       		<!-- footer-grids -->
       		<div class="footer-grids">
	       		 <div class="col-md-4 footer-grid">
	       			<h3>Plans and Services</h3>
	       			<ul>
	       				<li><a href="design.php">Website Designing</a></li>
	       				<li><a href="seo.php">Search Engine Optimization</a></li>
	       				<li><a href="graphics.php">Graphics Designing</a></li>
	       				
	       			</ul>
	       		</div>
	       		<div class="col-md-4 footer-grid">
	       			<h3>Customer Services</h3>
	       			<ul>
	       				<li><a href="contact.php">Contact Us</a></li>
	       				
	       			</ul>
	       		</div>
	       		<div class="col-md-4 footer-grid">
	       			<h3>About Us</h3>
	       			<ul>
	       				<li><a href="about.php">About</a></li>
                        <li><a href="career.php">Career</a></li>

	       				
	       			</ul>
	       		</div>
	       		
	       		<div class="clearfix"> </div>
       		</div>
       		<div class="copy">
	       			<p style="color:brown">Copyright &copy  2016 SSS Foundation</p>
	       		</div>
       		<!-- footer-grids -->
       		</div>
       </div>