 
 <div class="header">
          <!-- container -->
         <!-- top-nav -->
        
      <div class="container">	 			
		<div class="logo">
		  <a href="index.php"><img src="images/logo3.jpg" style="width:70%" alt=""/></a>
		</div>	
		<div class="header_bottom_right">			
	        <div class="h_menu4"><!-- start h_menu4 -->
				<a class="toggleMenu" href="#">Menu</a>
				<ul class="nav">
					<li><a href="index.php">Home</a></li>
				    <li><a href="#">Services</a>
						<ul>
							<li><a href="design.php">website designing </a></li>
       					 	<li><a href="seo.php">Search Engine Optimization </a></li>
       					 	<li><a href="graphics.php">Logo & Graphics designing</a></li>
						</ul>
					</li>
					<li><a href="portfolio.php">Portfolio</a></li>
					
					<li><a href="about.php">About</a></li>
                    <li><a href="career.php">Career</a></li>
					<li><a href="contact.php">Contact</a></li>
				</ul>
	          </div><!-- end h_menu4 -->
              <div class="clearfix"> </div>
       			<!-- top-nav -->
       		</div>
       		<!-- header -->
         </div>
      </div>
      				<script type="text/javascript" src="js/nav.js"></script>

